project/project
project/target
target

*.jar
*.class
*.log
.bloop
.bsp
.cache/
.history/
.lib/
.metals/
.vscode/
dist/*
target/
lib_managed/
metals.sbt
src_managed/
project/boot/
project/plugins/project/
.idea/*
.idea_modules/*
.idea/
.idea_modules/
.scala_dependencies
.worksheet
.settings/
.classpath
.project
.cache